[system]
NUM_SERVER = 3
ARRIVAL_DIST = E
ARRIVAL_DIST_RATE = 0.33 
NUM_STEPS = 10000
SCHEDULING_ALGO = Naive
CUSTOMER_POOL_SIZE = 100

#   E -> Exponential
#   D -> Deterministic
#List all the servers in the format as follows : 
##[server_[number starting from 0]]
##SERVICE_DIST = 
##SERVICE_DIST_RATE


[server_0]
SERVICE_DIST = E
SERVICE_DIST_RATE = 3 

[server_1]
SERVICE_DIST = D
SERVICE_DIST_RATE = .050

[server_2]
SERVICE_DIST = E
SERVICE_DIST_RATE = 0.3
