[system]
NUM_SERVER = 6
ARRIVAL_DIST = E
ARRIVAL_DIST_RATE = 3 
NUM_STEPS = 100000
SCHEDULING_ALGO = Naive
CUSTOMER_POOL_SIZE = 300

#   E -> Exponential
#   D -> Deterministic
#List all the servers in the format as follows : 
##[server_[number starting from 0]]
##SERVICE_DIST = 
##SERVICE_DIST_RATE


[server_0]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1

[server_1]
SERVICE_DIST = D
SERVICE_DIST_RATE = 2

[server_2]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1.5

[server_3]
SERVICE_DIST = E
SERVICE_DIST_RATE = 15

[server_4]
SERVICE_DIST = E
SERVICE_DIST_RATE = 2.5


[server_5]
SERVICE_DIST = E
SERVICE_DIST_RATE = 25
