[system]
NUM_SERVER = 11
ARRIVAL_DIST = E
ARRIVAL_DIST_RATE = 30
NUM_STEPS = 20000
SCHEDULING_ALGO = Naive
CUSTOMER_POOL_SIZE = 100

#   E -> Exponential
#   D -> Deterministic
#List all the servers in the format as follows : 
##[server_[number starting from 0]]
##SERVICE_DIST = 
##SERVICE_DIST_RATE


[server_0]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1

[server_1]
SERVICE_DIST = D
SERVICE_DIST_RATE = 2

[server_2]
SERVICE_DIST = E
SERVICE_DIST_RATE = 2

[server_3]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1

[server_4]
SERVICE_DIST = E
SERVICE_DIST_RATE = 2


[server_5]
SERVICE_DIST = E
SERVICE_DIST_RATE = 50


[server_6]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1


[server_7]
SERVICE_DIST = E
SERVICE_DIST_RATE = 50


[server_8]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1


[server_9]
SERVICE_DIST = E
SERVICE_DIST_RATE = 20


[server_10]
SERVICE_DIST = E
SERVICE_DIST_RATE = 1
